<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>

    <div class="container">
      <div class="flex-item item1">
        <br />
        <br />
        <p>easily customizable</p>
        <h1 class="focus-in-contract-bck">Exclusive templates</h1>
        <span>
          <br />
          Build your website with beautiful & professional design by </span>
          <span style="color:black; font-weight: bolder;">Sakhawat Hussain </span> 
        </div>
      
      <div class="flex-item image-container">
        <img src="fashion-store-01.webp" alt="your-image-alt-text" />
        <div class="caption">FASHION HUB</div>
      </div>

      <div class="flex-item image-container">
        <img src="kid-toy-01.webp" alt="your-image-alt-text" />
        <div class="caption">KIDS TOYS</div>
      </div>
      <div class="flex-item image-container">
        <img src="plant-garden-01.webp" alt="your-image-alt-text" />
        <div class="caption">PLANT GARDEN</div>
      </div>
      <div class="flex-item image-container">
        <img src="big-fashion-01.webp" alt="your-image-alt-text" />
        <div class="caption">BIG FASHION</div>
      </div>
      <div class="flex-item image-container">
        <img src="bicycle-01.webp" alt="your-image-alt-text" />
        <div class="caption">Your caption here</div>
      </div>
      <div class="flex-item image-container">
        <img src="handicraft-01.webp" alt="your-image-alt-text" />
        <div class="caption">HANDICRAFT</div>
      </div>
      <div class="flex-item image-container item2">
        <img src="interrior-01-1536x538.webp" alt="your-image-alt-text" />
        <div class="caption">INTERIOR</div>
      </div>
    
      <div class="flex-item image-container">
        <img src="fashion-hub-01 (1).webp" alt="your-image-alt-text" />
        <div class="caption">FASHION STORE</div>
      </div>
     </div>

    
</body>
</html>
